<div class="app">
    <div class="control">
        <button mat-button (click)="createCreatureConfiguration($event)">Add Creature</button>
        <button mat-button (click)="start($event)">Start</button> 
        <button mat-button (click)="stop($event)">Stop</button>
    </div>
    <div class="creature-configuration">
        <app-creature-configuration *ngFor="let creatureConfiguration of creatureConfigurations"
            [creatureConfiguration]="creatureConfiguration" [allCreatureConfigurations]="creatureConfigurations">
        </app-creature-configuration>
    </div>
    <div class="creature-field">

    </div>
    <div class="creature-chart">

    </div>
</div>
